/* Xzoom plugin CSS */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
    display: block;
    max-width: none;
    max-height: none;
}

.xzoom-loading {
    background: url(../images/loading.gif) center center no-repeat;
    width: 100%;
    height: 100%;
}

.xzoom-lens {
    border: 1px solid #000;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.3);
    cursor: crosshair;
    position: absolute;
}

.xzoom-preview {
    border: 1px solid #000;
    background: white;
    box-shadow: -0px -0px 10px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 99999;
}

.xzoom-gallery {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 10px;
}

.xactive {
    border: 1px solid #000;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
